.inputBar {
    outline:none; 
    height:50px;
    width:100%;
    font-size:30px;
    border:none;
    border:0px solid lightgray;
    border-radius:25px;
    color:#1b2838;
    background-color: lightgrey;
    line-height: 90px;
    text-indent: 15px;
}

.buttonIncludes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 145px;
    border-radius:25px;
    background: #1c81fd;
    color: white;
    position: absolute;
    right: 0px;
    top:2px;
    transition: all 1s;
}

.buttonIncludes:hover{
    background: #025fd1;

}

