.buttonBleu{
    outline:none; 
    height:55px; 
    position:relative;
    min-width: 15%;
    margin-left:2%;
    background-color:#1c81fd;
    border-radius: 30px; 
    color:white;
    font-size:20px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}
.buttonBleu:hover{
    background: #025fd1;
}